{% extends 'menu.html' %}
{% block content %}
{% load static from staticfiles %}
{% if messages %}
    {% for message in messages %}
				<script>
					if ("{{ message }}" == "Creado"){
						$( document ).ready(function() {
							mensagesSuccess("EXITO AL GUARDAR","Operario","Creado Exitosamente.");
						});
					}
					if ("{{ message }}" == "Actualizado"){
						$( document ).ready(function() {
							mensagesSuccess("EXITO AL ACTUALIZAR","Operario","Actualizado Exitosamente.");
						});
					}
					if ("{{ message }}" == "Borrado"){
						$( document ).ready(function() {
							mensagesSuccess("EXITO AL BORRAR","Operario","Borrado Exitosamente.");
						});
					}
				</script>
    {% endfor %}
{% endif %}
<link href="{% static 'assets/css/minified/calendario.css' %}" rel="stylesheet" type="text/css">
<div class="page-header ">
    <div class="page-header-content">
      <div class="page-title">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-2"></div>
          <div class="col-xs-12 col-sm-12 col-md-4">
              <h4><span id="titulo_breadcrumb" class="no-margin text-bold">LISTADO DE OPERARIOS</span></h4>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="breadcrumb container">
               <ul id="breadcrumb">
                 <li>
                   <a href="{% url 'operarios:crearOperario' %}">
                     <button class="btn btn bg-warning-800 btn-labeled heading-btn" type="button"><b><i class=" icon-user-plus"></i></b>&nbsp;&nbsp;CREAR OPERARIO&nbsp;&nbsp;</button>
                   </a>
                 </li>
               </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2"></div>
        </div>
      </div>
    </div>
    <div class="breadcrumb-line">
      <ul class="breadcrumb">
          <li><a href="{% url 'login:panel' %}"><i class="icon-meter-fast position-left"></i>Panel Administrativo</a></li>
          <li class="active">Operarios</a></li>
      </ul>
    </div>
</div>

<div class="content">
	<div class="panel panel-flat">
		<table class="table datatable-responsive">
			<thead>
				<tr>
          <th class="text-center">OPERARIO</th>
          <th class="text-center">GENERO</th>
          <th class="text-center">DIRECCIÓN</th>
          <th class="text-center">TELEFONO</th>
          <th class="text-center">CELULAR</th>
          <th class="text-center">ESTADO</th>
					<th class="text-center">ACCIONES</th>
				</tr>
			</thead>
			<tbody>
      {% if operarios.count >= 1  %}
        <script>
          var listM = [];
          var listF = [];
          var listA = [];
          var listI = [];
        </script>
        {% for operario in operarios %}
        <tr>
          <td class="text-center">{{ operario.id.first_name }} {{ operario.id.last_name }}<br>{{ operario.id.email }}</td>
          <td class="text-center"><span id="g{{ operario.id_id }}"></span></td>
          <script>
          if ("{{ operario.genero }}" == "M"){
              VerificarArray("g{{ operario.id_id }}",listM);
          }
          if ("{{ operario.genero }}" == "F"){
              VerificarArray("g{{ operario.id_id }}",listF);
          }
          </script>
          <td class="text-center">{{ operario.direccion }}</td>
          <td class="text-center">{{ operario.telefono }}</td>
          <td class="text-center">{{ operario.celular }}</td>
          <td class="text-center">
            <ul id="list{{ operario.id_id }}" class="icons-list"><li id="e{{ operario.id_id }}"></li></ul>
          </td>
          <script>
          if ("{{ operario.estado }}" == "A"){
            VerificarArray("e{{ operario.id_id }}",listA);
          }
          if ("{{ operario.estado }}" == "I"){
              VerificarArray("e{{ operario.id_id }}",listI);
              $('#list{{ operario.id_id }}').append("<a onclick='activarOperario({{ operario.id_id }})' style='padding-left: 10px;' data-popup='tooltip' title='ACTIVAR OPERARIO' data-placement='top' data-original-title='ACTIVAR OPERARIO'><li class='icon-unlocked2'></li></a>");
          }
          </script>
          <td class="text-center">
            <ul class="icons-list">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="icon-menu9"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="{% url 'operarios:editarOperario' operario.id_id %}"><i class="icon-pencil7"></i>Editar Operario</a></li>
                        <li><a onclick='eliminar("operario/eliminar/","{{ operario.id_id }}","Eliminando Operario por favor espere ....")'><i class="icon-bin"></i>Eliminar Operario</a></li>
                    </ul>
                </li>
            </ul>
          </td>
				</tr>
        {% endfor %}
        <script>
          RemplazarTexto(listM,"Masculino");
          RemplazarTexto(listF,"Femenino");
          AgregarClase(listA,'icon-user-check text-success-800');
          AgregarClase(listI,'icon-user-lock text-danger-800');
        </script>
			</tbody>
		</table>
    {% endif %}
	</div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/tables/datatables/extensions/responsive.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/datatables_responsive.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/ui/prism.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/extension_blockui.js' %}"></script>
{% endblock %}
