{% extends 'menu.html' %}
{% block content %}
{% load static from staticfiles %}
<div class="page-header">
	<div class="page-header-content">
			<div class="page-title">
					<ul class="breadcrumb">
							<li>
                <h4>
                  <a href="javascript:history.back(1)" id="volver_atras" class="icon-arrow-left52 position-left"></a><span id="titulo_breadcrumb" class="no-margin text-bold">CREAR OPERARIO</span>
                </h4>
							</li>
					</ul>
			</div>
	</div>
	<div class="breadcrumb-line">
			<ul class="breadcrumb">
					<li><i class="icon-meter-fast position-left"></i>Panel Administrativo</a></li>
          <li><a href="{% url 'operarios:operarios' %}">Operarios</a></li>
					<li class="active">Nuevo</a></li>
			</ul>
	</div>
</div>
<div class="content">
<div class="panel panel-flat">
		<div class="panel-heading">
				<h5 class="panel-title"></h5>
					<div class="panel-body">
            <form class="form-horizontal form-validate-jquery" id="formAgregar" enctype="multipart/form-data" action="{% url 'operarios:guardarOperario' %}" method="POST"> {% csrf_token %}
              <fieldset class="content-group">
                  <legend class="text-bold">Datos Basicos</legend>
                  <div class="col-md-10 col-lg-8">
                      <div class="form-group">
                          <label class="control-label col-lg-2">Nombres :<span class="text-danger">*</span></label>
                          <div class="col-lg-10">
                              <input type="text" id="nombres" name="nombres" maxlength="30" class="form-control" required="required" placeholder="Nombres del Operario">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label col-lg-2">Apellidos :<span class="text-danger">*</span></label>
                          <div class="col-lg-10">
                              <input type="text" id="apellidos" name="apellidos" maxlength="30" class="form-control" required="required" placeholder="Apellidos del Operario">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label col-lg-2">Genero :</label>
                          <div class="col-lg-10">
                              <label class="radio-inline">
                                  <input type="radio" name="bedStatus" id="masculino" class="styled" value="masculino">Masculino
                              </label>
                              <label class="radio-inline">
                                  <input type="radio" name="bedStatus" id="femenino" class="styled" value="femenino">Femenino
                              </label>
                                  <input type="hidden" id="genero" name="genero"></input>
                            </div>
                      </div>
                  </div>
                  <div class="col-md-2 col-lg-4">
                      <div class="form-group">
                          <img id="imgSalida" style="height: 220px; width: 200px; display: block; margin-left: auto; margin-right: auto;" name="foto" src="{{ url }}{{ operario.foto }}"/>
                          <input style="display: none"  id="archivo" name="archivo" type="file">
                          <input id="bandera_foto" name="bandera_foto" type="hidden">
                          <button type="button" id="archivo2" name="archivo2" onclick="subirImagen()" class="btn bg-warning-800 btn-labeled"><b><i class="icon-cloud-upload2"></i></b>Subir Foto</button>
                      </div>
                  </div>
              </fieldset>
              <fieldset class="content-group">
                  <legend class="text-bold">Datos de contacto</legend>
                  <div class="form-group">
                      <label class="control-label col-lg-2">Dirección :</label>
                      <div class="col-lg-10">
                          <input type="text" id="direccion" name="direccion" maxlength="40"  class="form-control"  placeholder="Dirección del Operario">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-lg-2">Teléfono :</label>
                      <div class="col-lg-10">
                        <input type="text" name="telefono" id="telefono" maxlength="15" class="form-control"  onKeyPress="return soloNumeros(event,'operario','telefono','SI')" placeholder="Teléfono del Operario">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-lg-2">Celular :</label>
                      <div class="col-lg-10">
                        <input type="text" id="celular" name="celular" maxlength="15" class="form-control"  onKeyPress="return soloNumeros(event,'operario','celular','SI')"  maxlenght="15" placeholder="Celular del Operario">
                      </div>
                  </div>
              </fieldset>
              <fieldset class="content-group">
                <legend class="text-bold">Datos del Sistema</legend>
                <div class="form-group">
                    <label class="control-label col-lg-2">E-mail :<span class="text-danger">*</span></label>
                    <div class="col-lg-10">
                        <input type="email" id="email" name="email" maxlength="30" required="required" class="form-control" placeholder="E-mail del Operario">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2">Contraseña :</label>
                    <div class="col-lg-10">
                        <input type="text" id="password" name="password" maxlength="40" class="form-control" value="icbf2017" disabled="disabled">
                    </div>
                </div>
              </fieldset>
              <div class="form-group text-right">
                  <label class="control-label col-lg-2">
                  </label>
                  <div class="col-lg-10">
                    <a href="javascript:history.back(1)" class="btn bg-warning-800 btn-labeled btn-xlg" id="reset"><b><i class="icon-undo position-right"></i></b>&nbsp;&nbsp;&nbsp;VOLVER&nbsp;&nbsp;</a>
                    <button type="submit" class="btn bg-primary-800 btn-labeled btn-xlg"><b><i class="icon-floppy-disk"></i></b>GUARDAR</button>
                  </div>
              </div>
            </form>
					</div>
			</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'assets/js/pages/form_validation.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/form_tags_input.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/uploaders/fileinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery_ui/interactions.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/form_select2.js' %}"></script>
<script>
obtenerGenero();
fijarGenero();

//VERIFICAR QUE EL CORREO NO EXISTA
$('#email').on('input', function() {
	$('#email').val().trim()
	verificarEmail();
});

</script>
{% endblock %}
