{% extends 'menu.html' %} {% block content %}{% load static from staticfiles %}
{% if messages %}
    {% for message in messages %}
				<script>
					if ("{{ message }}" == "Guardado"){
						$( document ).ready(function() {
							mensagesSuccess("EXITO AL GUARDAR","Medidas Antropometricas","Agregadas Exitosamente.");
						});
					}
				</script>
    {% endfor %}
{% endif %}
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <ul class="breadcrumb">
                <li>
                  <h4><a href="javascript:history.back(1)" id="volver_atras" class="icon-arrow-left52 position-left"></a><span class="no-margin text-bold">MEDIDAS ANTROPOMETRICAS</span></h4>
                </li>
            </ul>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
          <li><a href="{% url 'login:panel' %}"><i class="icon-meter-fast position-left"></i>Panel Administrativo</a></li>
          <li><a href="{% url 'beneficiarios:beneficiarios' %}">Beneficiarios</a></li>
          <li>Medidas Antropometricas</li>
          <li><a class="active" href="{% url 'beneficiarios:editarBeneficiario'  beneficiario.id  %}">{{ beneficiario.primer_nombre }} {{ beneficiario.segundo_nombre }} {{ beneficiario.primer_apellido }} {{ beneficiario.segundo_nombre }}</a></li>
        </ul>
    </div>
</div>
<style>
    legend {
        margin-bottom: 30px;
    }
    .content-group {
      margin-bottom: 0px !important;
      margin-top: 30px;
    }
    .icons-list>li {
      padding-right: 0px;
    }
    .validation-error-label, .validation-valid-label {
      padding-left: 0px;
      position: sticky;
      text-align: center;
      font-size: 0px;
      margin-left: 25px;
      padding-bottom: 15px;
    }

</style>
<div class="content">
  <div class="panel panel-flat">
    <div class="panel-heading">
      <h5 class="panel-title"></h5>
      <div class="panel-body">
        <form class="form-horizontal form-validate-jquery" id="FormNutricion" action="{% url 'nutricion:guardarMedidasAntropometricas' %}" method="POST">{% csrf_token %}
          <input type="hidden" id="e_ben" name="e_ben" class="form-control" value="{{ beneficiario.id }}">
          <legend class="text-bold">DATOS DE CONTROL DE PESO Y TALLA</legend>
          <fieldset class="content-group">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th style="text-align: center; width: 140px; max-width: 140px; min-width: 140px">Nº ORDEN</th>
                    <th style="text-align: center; width: 190px; max-width: 190px; min-width: 190px">FECHA</th>
                    <th style="text-align: center; width: 170px; max-width: 170px; min-width: 170px">EDAD</th>
                    <th style="text-align: center; width: 170px; max-width: 170px; min-width: 170px">PESO</th>
                    <th style="text-align: center; width: 100px; max-width: 100px; min-width: 100px">TALLA</th>
                    <th style="text-align: center;">INTERPRETACIÓN CURVA *N/A-HCB</th>
                    <th style="text-align: center;"></th>
                  </tr>
                </thead>
                {% if controles.count >= 1  %}
                <script>
                  var listP = [];
                  var listT = [];
                </script>
                <tbody>
                  {% for control in controles %}
                  <tr>
                    <tr>
                      <td style="text-align: center">
                        <input type="text" name="numero_orden" class="form-control" id="numero_orden" onKeyPress="return soloNumeros(event,'control','numero_orden','NO')" maxlength="10" value="{{ control.numero_orden }}" disabled="disabled"/>
                      </td>
                      <td style="text-align: center;">
                        <input type="date" name="fecha_control" class="form-control" id="fecha_control" value="{{ control.fecha_control }}" disabled="disabled" min="{{ request.session.fecha_min }}" />
                      </td>
                      <td style="text-align: center">
                        <table>
                          <tbody>
                            <tr>
                              <td>
                                <input type="text" id="edad_anios" name="edad_anios" class="form-control" style="max-width: 70px" onKeyPress="return soloNumeros(event,'control','edad_anios','NO')" maxlength="2" value="{{ control.edad_anios }}" disabled="disabled"/>
                                <span align="center" class="help-block">Años</span>
                              </td>
                              <td>&nbsp;&nbsp;</td>
                              <td>
                                <input type="text" id="edad_meses" name="edad_meses" class="form-control" style="max-width: 70px" onKeyPress="return soloNumeros(event,'control','edad_meses','NO')" maxlength="2" value="{{ control.edad_meses }}" disabled="disabled"/>
                                <span align="center" class="help-block">Meses</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="text-align: center" id="peso{{ control.id }}">
                        <table>
                          <tbody>
                            <tr>
                              <td>
                                <input type="text" id="peso_kilos" name="peso_kilos" class="form-control" style="max-width: 70px" onKeyPress="return soloNumeros(event,'control','peso_kilos','NO')" maxlength="2" value="{{ control.peso_kilos }}" disabled="disabled"/>
                                <span align="center" class="help-block">Kg</span>
                              </td>
                              <td>&nbsp;&nbsp;</td>
                              <td>
                                <input type="text" id="peso_gramos" name="peso_gramos" class="form-control" style="max-width: 70px" onKeyPress="return soloNumeros(event,'control','peso_gramos','NO')" maxlength="4" value="{{ control.peso_gramos }}" disabled="disabled"/>
                                <span align="center" class="help-block">Gms</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                          <span class="text-danger-800"> {{ control.estado }}</span>
                      </td>
                      <td style="text-align: center" id="talla{{ control.id }}">
                        <input type="text" name="talla" class="form-control" id="talla" onKeyPress="return soloNumeros(event,'control','talla','NO')" maxlength="4" value="{{ control.talla }}" disabled="disabled"/>
                        <span align="center" class="help-block">Cms</span>
                      </td>
                      <td style="text-align: center">
                        <textarea  id="interpretacion" style="height: 100px; resize: none;" name="interpretacion" class="form-control" disabled="disabled">{{ control.interpretacion }}</textarea>
                      </td>
                      <td style="text-align: center;"></td>
                    </tr>
                  </tr>
                  <script>
                     if('{{ control.peso_kilos }}' <= '{{ control.peso_idealK }}' ){
                        if('{{ control.peso_gramos }}' < '{{ control.peso_idealG }}'){
                          VerificarArray("peso{{ control.id }}",listP);
                        }
                     }
                     if('{{ control.peso_kilos }}' >= '{{ control.peso_idealK }}' ){
                       if('{{ control.peso_gramos }}' > '{{ control.peso_idealG }}'){
                          VerificarArray("peso{{ control.id }}",listP);
                        }
                     }
                     if('{{ control.talla }}' < '{{ control.talla_ideal }}'){
                       VerificarArray("talla{{ control.id }}",listT);
                     }
                     if ('{{ control.talla }}' > '{{ control.talla_ideal }}'){
                       VerificarArray("talla{{ control.id }}",listT);
                     }
                  </script>
                  {% endfor %}
                  <script>
                    AgregarClase(listP,'danger');
                    AgregarClase(listT,'danger');
                  </script>
                  <tr>
                    <td style="text-align: center; width: 140px; max-width: 140px; min-width: 140px">
                      <input type="text" name="nutricion_numero_orden" class="form-control" id="nutricion_numero_orden" onKeyPress="return soloNumeros(event,'control','numero_orden','NO')" maxlength="10"/>
                    </td>
                    <td style="text-align: center; width: 190px; max-width: 190px; min-width: 190px">
                      <input type="date" name="nutricion_fecha_control" class="form-control" id="nutricion_fecha_control" min="{{ request.session.fecha_min }}"/ value="{{ request.session.fecha }}">
                    </td>
                    <td style="text-align: center; width: 180px; max-width: 180px; min-width: 180px">
                      <table>
                        <tbody>
                          <tr>
                            <td>
                              <span align="center" class="help-block">Años</span>
                              <input type="text" id="nutricion_edad_anios" name="nutricion_edad_anios" class="form-control" style="max-width: 70px" onKeyPress="return soloNumeros(event,'control','edad_anios','NO')" maxlength="2" value="{{ beneficiario.edad }}" readonly>
                            </td>
                            <td>&nbsp;&nbsp;</td>
                            <td>
                              <span align="center" class="help-block">Meses</span>
                              <input type="text" id="nutricion_edad_meses" name="nutricion_edad_meses" class="form-control" style="max-width: 70px" onKeyPress="return soloNumeros(event,'control','edad_meses','NO')" maxlength="2">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td style="text-align: center">
                      <table>
                        <tbody>
                          <tr>
                            <td>
                              <span align="center" class="help-block">Kg</span>
                              <input type="text" id="nutricion_peso_kilos" name="nutricion_peso_kilos" class="form-control" style="max-width: 70px" onKeyPress="return soloNumeros(event,'control','peso_kilos','NO')" maxlength="2">
                            </td>
                            <td>&nbsp;&nbsp;</td>
                            <td>
                              <span align="center" class="help-block">Gms</span>
                              <input type="text" id="nutricion_peso_gramos" name="nutricion_peso_gramos" class="form-control" style="max-width: 70px" onKeyPress="return soloNumeros(event,'control','peso_gramos','NO')" maxlength="4">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td style="text-align: center">
                      <span align="center" class="help-block">Cms</span>
                      <input type="text" name="nutricion_talla" class="form-control" id="nutricion_talla" onKeyPress="return soloNumeros(event,'control','talla','NO')" maxlength="4"/>
                    </td>
                    <td style="text-align: center">
                      <textarea  id="nutricion_interpretacion" style="height: 100px; resize: vertical;" name="nutricion_interpretacion" class="form-control"></textarea>
                    </td>
                    <td style="text-align: center; padding-left: 10px;">
                      <ul class="icons-list">
                        <li class="text-danger-600"><a onclick="ValidarFormulario(['talla','peso_gramos','peso_kilos','edad_meses','edad_anios','fecha_control','numero_orden'],'nutricion','FormNutricion')" class="btn btn-primary btn-icon"><i style="color: white" class="icon-plus2"></i></a></li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
                {% endif %}
              </table>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block javascript %}
{% endblock %}
