{% extends 'menu.html' %}
{% block content %}
{% load static from staticfiles %}
<div class="page-header">
	<div class="page-header-content">
			<div class="page-title">
					<ul class="breadcrumb">
							<li>
                <h4><span id="titulo_breadcrumb" class="no-margin text-bold">{{ user.first_name }} {{ user.last_name }}</span>&nbsp;&nbsp;
                  <span id="categoria_agente" class="label bg-primary-800">ADMINISTRADOR</span>
                </h4>
							</li>
					</ul>
			</div>
	</div>
	<div class="breadcrumb-line">
			<ul class="breadcrumb">
					<li><a href="/"><i class="icon-meter-fast position-left"></i>Panel Administrativo</a></li>
          <li><a href="{% url 'operarios:perfil' %}">Mi Perfil</a></li>
					<li class="active">Cambiar Contraseña</a></li>
			</ul>
	</div>
</div>
<div class="content">
<div class="panel panel-flat">
		<div class="panel-heading">
				<h5 class="panel-title"></h5>
					<div class="panel-body">
							<form class="form-horizontal form-validate-jquery" id="formAgregar" enctype="multipart/form-data" action="{% url 'operarios:actualizar_password' %}" method="POST"> {% csrf_token %}
									<fieldset class="content-group">
											<legend class="text-bold">Datos del Sistema</legend>
                      <div class="form-group">
				                  <label class="control-label col-lg-2">Contraseña: <span class="text-danger">*</span></label>
						              <div class="col-lg-10">
							               <input type="password" name="password" id="password" class="form-control" required="required" placeholder="Minimum 5 characters allowed" aria-required="true" aria-invalid="false">
					                </div>
					            </div>
                      <div class="form-group">
						              <label class="control-label col-lg-2">Repetir Contraseña: <span class="text-danger">*</span></label>
					                <div class="col-lg-10">
						                 <input type="password" name="repeat_password" class="form-control" required="required" placeholder="Try different password" aria-required="true" aria-invalid="true">
				                  </div>
						         </div>
									</fieldset>
									<div class="form-group text-right">
											<label class="control-label col-lg-2">
											</label>
											<div class="col-lg-10">
												<a href="{% url 'operarios:perfil' %}" class="btn bg-warning-800 btn-labeled btn-xlg" id="reset"><b><i class="icon-undo position-right"></i></b>&nbsp;VOLVER&nbsp;&nbsp;</a>
												<button type="submit" id="actualizarPass" class="btn bg-primary-800 btn-labeled btn-xlg"><b><i class="icon-floppy-disk"></i></b>GUARDAR</button>
											</div>
									</div>
							</form>
					</div>
			</div>
	</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'assets/js/pages/form_validation.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/form_tags_input.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/uploaders/fileinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/pages/uploader_bootstrap.js' %}"></script>
{% endblock %}
