{% include "head.html" %}
{% include "header.html" %}
{% load static from staticfiles %}
<div class="page-container">
  <div class="page-content">
    <div class="sidebar sidebar-main sidebar-fixed">
      <div class="sidebar-content">
        <div class="sidebar-user">
        <div class="category-content">
          <div class="media">
            <a href="#" class="media-left"><img src="{{ request.session.foto }}" class="img-circle img-sm" alt=""></a>
            <div class="media-body">
              <span class="media-heading text-semibold">{{ user.first_name }} {{ user.last_name }}</span>
              <div class="text-size-mini text-muted">{{ request.session.nombregrupo }}</div>
            </div>
          </div>
        </div>
        </div>
        <div class="sidebar-category sidebar-category-visible">
          <div class="category-content no-padding">
            <ul class="navigation navigation-main navigation-accordion">
              <li id="menu_parametrizacion">
                <a href="/admin">
                 <i class="icon-gear"></i><span>Parametrización</span>
                </a>
              </li>
              <li>
                <a href="{% url 'operarios:perfil' %}">
                  <i class="icon-user"></i> <span>Mi Perfil</span>
                </a>
              </li>
              <li id="menu_operarios">
                <a href="{% url 'operarios:operarios' %}">
                  <i class="icon-user-tie"></i><span>Operarios</span>
                </a>
              </li>
              <li>
                <a href="{% url 'beneficiarios:beneficiarios' %}">
                  <i class="icon-users4"></i><span>Beneficiarios</span>
                </a>
              </li>
              <li id="menu_logs">
                <a href="{% url 'parametrizacion:listadoLogs' %}">
                  <i class="icon-watch2"></i><span>Registro de Logs</span>
                </a>
              </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <div class="content-wrapper">
      {%  block content %}
      {% endblock %}
    </div>
    <style>
      @media (min-width: 769px){
          .sidebar {
          display: table-cell;
          vertical-align: top;
          width: 220px;
        }
        .sidebar-fixed .sidebar-content {
            width: 220px;
        }
      }
    </style>
    <script>
        if ("{{ request.session.grupo }}" == "2") {
            $("#menu_parametrizacion").remove()
            $("#menu_operarios").remove()
            $("#menu_logs").remove()
        }
    </script>
  </div>
</div>
{% block javascript %}
{% endblock %}
{% include "footer.html" %}
